PyYAML>=4.2b1
PyMySQL>=0.8.0
python-slugify>=1.2.5
yoyo-migrations>=5.0.5
regex>=2018.02.21,<2019.02.19
sqlalchemy>=1.0.13
pytest>=2.7.0
cerberus~=1.2
networkx>=2.1
behave>=1.2.6
GitPython~=2.1.11
requests>=2.19.1
Jinja2>=2.10.1
